body {
    font-family: 'Brush Script MT', cursive;
}

/** HEADER **/
#header-nav{
    background-color: gray;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1{
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
}

.navbar-brand a, .navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-toggler{
    background-color: gray;
    border: 2px solid black;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navCollapse ul{
    background-color: white;
}

#navCollapse ul li{
    border-bottom: 2px solid black;
    padding: 5px;
    text-align: center;
}

#navCollapse ul li{
    color: black;
    font-size: 20px;
    
}

#navCollapse ul a:hover, #navCollapse ul a:active{
    text-decoration: none;
}

#navCollapse ul li:hover, #navCollapse ul li:active{
    background-color: lightgray;
    font-size: 25px;
}

.container-fluid h1{
    font-weight: bold;
    margin: 20px;
}

.row div{
    margin: 0 15px 15px 15px;
    padding: 10px;
    background-color: gray;
}